@model CodyMVC5HomeWork1.Models.客戶聯絡人ViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>客戶資料</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.傳真)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.傳真)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerData.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerData.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th></th>
    </tr>
@{ var data = Model.ContactsData.ToArray();}
@for (var i = 0; i < data.Length; i++)
{
        <tr>
            <td>
                @Html.HiddenFor(modelItem => data[i].Id)
                @Html.HiddenFor(modelItem => data[i].客戶Id)
                @Html.EditorFor(modelItem => data[i].職稱)
                @Html.ValidationMessageFor(modelItem => data[i].職稱, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].姓名)

            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].Email)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].手機)
                @Html.ValidationMessageFor(modelItem => data[i].手機, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].電話)
                @Html.ValidationMessageFor(modelItem => data[i].電話, "", new { @class = "text-danger" })
            </td>


        </tr>
}

</table>
<input type="submit" value="更新" />
    }